<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello this is home page...</h1>
    <p>اینجا برای اینه که ما توی ده صفحه ده تا متغیر بسازیم و روی هر کدوم فیلتر های مختلف رو اعمال کنیم  <br>حالا آدرس صفحاتی که اگر توی آدرس بار مرورگر تون اون رو بزنید ، فیلتر موردنظر رو روی متغیر مورد نظر میبینید در ادامه مینویسم</p>
    <br><br>
    
    <h3>for see variable1 and filtering on them : <a href="/111" style='color:black'>click here</a></h3>
    <h3>for see variable2 and filtering on them : <a href="/222" style='color:black'>click here</a></h3>
    <h3>for see variable3 and filtering on them : <a href="/333" style='color:black'>click here</a></h3>
    <h3>for see variable4 and filtering on them : <a href="/444" style='color:black'>click here</a></h3>
    <h3>for see variable5 and filtering on them : <a href="/555" style='color:black'>click here</a></h3>
</body>
</html>